<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Ring Master</h1>
    <p>Ring: <%- ring.name %></p>
    <form method="DELETE" action="/rings/<%- ring.ringId %>">

      <button type="submit">delete ring</button>
    </form>
  </div>

  <div>
    <div>
      <a href="/nodes/new?ringId=<%- ring.ringId %>">Add a node</a>
      <a href="#">Generate ring</a>
    </div>
    <div>Nodes:</div>
    <ul>
      <% nodes.forEach(function(node) { %>
        <li>
          <a href="/nodes/<%- node.id %>"><%- node.name %></a>
          <a href="#">delete node</a>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
